* {
    border: none;
    border-radius: 0px;
    font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;
    font-size: 10px;
    min-height: 0;
}

window#waybar {
    background: linear-gradient(0deg, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0.9) 100%);
    color: #ffffff;
}

#tags,
#workspaces button {
    color: #ffffff;
    padding: 0 4px;
    box-shadow: inset 0 -3px transparent;
}

#tags,
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.9);
    box-shadow: inset 0 -3px #ffffff;
}

#tags,
#workspaces button.focused {
    background-color: #64727d;
}

#tags,
#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    margin: 6px 3px;
    color: #000000;
}

#window,
#workspaces,
#tags {
    margin: 0 4px;
}

/* If tags is the leftmost module, omit left margin */
.modules-left > widget:first-child > #tags {
    margin-left: 0;
}

/* If tags is the rightmost module, omit right margin */
.modules-right > widget:last-child > #tags {
    margin-right: 0;
}

#clock {
    color: white;
}

#battery {
    color: white;
}

#battery.charging {
    color: #ffffff;
}

@keyframes blink {
    to {
	background-color: #ffffff;
	color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
}

#cpu {
    color: #ffffff;
}

#memory {
    color: white;
}

#backlight {
    color: white;
}

#network {
    color: white;
}

#network.disconnected {
    color: #f53c3c;
}
